<<<<<<< HEAD
.fail {
  padding: 50px;
  h1 {
    font-size: 18px;
    border-bottom: 3px solid #ce352c;
    padding-bottom: 3px;
    max-width: fit-content;
    margin: 0 auto;
  }
}
=======
.fail {
  padding: 50px;
  h1 {
    font-size: 18px;
    border-bottom: 3px solid #ce352c;
    padding-bottom: 3px;
    max-width: fit-content;
    margin: 0 auto;
  }
}
>>>>>>> fd06c73ece4f09d1b65208b7b08016a04d896128
