.OverlayHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  &.ReactModal__Overlay--after-open {
    opacity: 1;
  }
  &.ReactModal__Overlay--before-close {
    opacity: 0;
  }
  .Modal {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    outline: none;
    max-width: 500px;
    width: calc(100% - 20px);
    color: #454545;
    .header {
      padding: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ebebeb;
      h1 {
        font-size: 18px;
        padding-bottom: 3px;
        border-bottom: 3px solid #93b1f7;
      }
      .close {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        border: 3px solid #93b1f7;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        transition: all 0.3s;
        padding: 2px;
        svg {
          color: #454545;
          font-size: 18px;
          transition: all 0.3s;
        }
        &:hover {
          background: #93b1f7;
          transition: all 0.3s;
          svg {
            transition: all 0.3s;
            color: #fff;
          }
        }
      }
    }
    .body {
      padding: 30px;
      h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 15px;
      }
      .inpHolder {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: 350px;
        margin: 0 auto;
        form {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          input {
            width: 100%;
            height: 50px;
            border-radius: 50px;
            outline: none;
            border: none;
            background: #f5f5f5;
            padding: 0 135px 0 25px;
            font-family: inherit;
            font-weight: 700;
            font-size: 16px;
            color: #454545;
            text-align: left;
          }
          button {
            right: 5px;
            position: absolute;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid #93b1f7;
            background: #fff;
            padding: 10px 15px;
            border-radius: 45px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
            max-width: 150px;
            transition: all 0.4s;
            &:hover {
              background: #93b1f7;
              color: #fff;
              transition: all 0.4s;
            }
          }
          .hide {
            display: none;
          }
        }
      }
      .info {
        text-align: center;
        margin-top: 30px;
        font-weight: 700;
        letter-spacing: 0.2px;
        color: rgb(212, 212, 212);
        font-size: 14px;
      }
    }
  }
}
header {
  background: #f5f5f5;
  .header_holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 13.5px 0;
    max-width: 1280px;
    margin: 0 auto;
    ul.nav {
      display: flex;
      opacity: 1;
      visibility: visible;
      flex-direction: row;
      transition: all 0.3s;
      li {
        list-style-type: none;
        margin: 0 0.8em;
        list-style: outside none none;
        display: flex;
        align-items: center;
        a {
          padding: 0.5em 0;
          color: rgba(69, 69, 69, 0.6);
          font-size: 15px;
          position: relative;
          letter-spacing: 1px;
          text-decoration: none;
          text-transform: uppercase;
          transition: all 0.35s ease;
          &:before {
            position: absolute;
            transition: all 0.35s ease;
          }
          &:before {
            top: 0;
            display: block;
            height: 3px;
            width: 0%;
            content: '';
            background-color: #93b1f7;
          }
          &:hover {
            color: #454545;
            transition: all 0.35s ease;
            &:before {
              opacity: 1;
              width: 100%;
            }
          }
        }
        &.active {
          a {
            &:before {
              opacity: 1;
              width: 100%;
            }
          }
        }
      }
    }
    .logo_holder {
      flex: 1;
      .logo {
        flex: 1;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        background: rgba(147, 177, 247, 0.65);
        border-radius: 50%;
        width: 60px;
        margin: 0 auto;
        padding-bottom: 6px;
        img {
          width: 40px;
        }
      }
    }
    .actions {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      .balance {
        margin-right: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #454545;
          font-size: 15px;
          font-weight: bold;
          margin-right: 5px;
          span {
            margin-left: 2px;
            color: #93b1f7;
          }
        }
        svg {
          font-size: 20px;
          cursor: pointer;
        }
      }
      .avatar {
        margin-right: 15px;
        a {
          img {
            width: 55px;
            height: 55px;
            border-radius: 50%;
          }
        }
      }
      .settings {
        cursor: pointer;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 3px solid #93b1f7;
          padding: 8px 10px;
          // font-size: 20px;
          border-radius: 45px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          transition: all 0.4s;
          svg {
            color: #454545;
            margin-right: 5px;
          }
          p {
            color: #454545;
            font-size: 13.5px;
          }
          &:hover {
            background: #93b1f7;
            color: #fff;
            transition: all 0.4s;
            svg,
            p {
              color: #fff;
              background: transparent;
              // color: #fff;
            }
          }
        }
      }
      .auth {
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        cursor: pointer;
        background: #f5f5f5;
        color: #454545;
        border-radius: 45px;
        border: 3px solid #93b1f7;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        transition: all 0.4s;
        svg {
          font-size: 20px;
          margin-right: 5px;
        }
        span {
          font-weight: bold;
          text-transform: uppercase;
          margin-left: 5px;
        }
        &:hover,
        &:focus {
          background: #93b1f7;
          color: #fff;
          transition: all 0.4s;
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  .menu_bar {
    display: none;
    visibility: hidden;
  }
  @media screen and (max-width: 768px) {
    .header_holder {
      padding: 10px 0;
      .menu_bar {
        display: flex;
        visibility: visible;
        &.active {
          background: #fff;
        }
      }
      ul.nav.mobile_menu {
        display: flex;
        flex-direction: column;
        visibility: visible;
        position: absolute;
        top: 55px;
        background: #fff;
        padding: 10px 0;
        z-index: 1;
        transition: all 0.3s;
        li {
          cursor: pointer;
          font-weight: normal;
          margin: 0;
          border-bottom: 1px solid #f5f5f5;
          display: flex;
          justify-content: center;
          transition: all 0.3s;
          a {
            padding: 8px 10px;
            width: 100%;
            text-align: center;
            font-size: 13px;
            &:before,
            &:after {
              display: none;
            }
          }
          &:hover {
            background: #93b1f7;
            a {
              color: #fff;
              transition: all 0.3s;
            }
          }
        }
        &.hide {
          // display: none;
          visibility: hidden;
          opacity: 0;
          transition: all 0.3s;
        }
      }
      .actions {
        // justify-content: space-evenly;
        .settings {
          margin-right: 10px;
          a {
            padding: 8px;
            font-size: 12px;
            p {
              font-size: 12px;
            }
          }
        }
        .avatar {
          margin-right: 10px;
          a {
            img {
              width: 50px;
              height: 50px;
            }
          }
        }
        .balance {
          p {
            flex-direction: column;
            font-size: 13px;
          }
          svg {
            font-size: 18px;
          }
        }
        .settings {
          margin: 0;
        }
      }
    }
  }
}
