@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes mainWidth {
  0% {
    max-width: 0;
    opacity: 0.2;
  }
  100% {
    max-width: 150px;
    opacity: 1;
  }
}
@keyframes toBig {
  0% {
    width: 0;
  }
  100% {
    width: 160px;
  }
}
@keyframes toDown {
  0% {
    width: 160px;
  }
  100% {
    width: 0;
  }
}
@keyframes smallWidth {
  0% {
    flex: 0;
    opacity: 0.2;
  }
  100% {
    max-width: 150px;
    opacity: 1;
  }
}

.livedrop_holder {
  position: relative;
  // padding: 3px;
  .livedrop {
    // background: #7395ae;
    padding: 10px;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    // background: linear-gradient(
    //   to left,
    //   rgba(178, 148, 255, 0.7),
    //   rgba(87, 230, 230, 0.7),
    //   rgba(254, 255, 184, 0.7),
    //   rgba(87, 230, 230, 0.7),
    //   rgba(178, 148, 255, 0.7),
    //   rgba(87, 230, 230, 0.7)
    // );
    background: linear-gradient(
      to left,
      #c462b7,
      rgba(92, 107, 216, 0.85),
      #b93a9c,
      rgba(92, 107, 216, 0.85),
      #c462b7,
      rgba(92, 107, 216, 0.85)
    );
    background-size: 500% auto;
    animation: gradient 7s linear infinite;
    h1 {
      font-size: 16px;
      color: #fff;
      text-shadow: 1px 1px 6px #000;
      text-transform: uppercase;
      box-shadow: inset 0px 0px 13px 5px hsla(216, 44%, 26%, 0.58);
      font-weight: normal;
      letter-spacing: 1px;
      text-align: center;
      max-width: 125px;
      margin: 0 auto;
      margin-bottom: 10px;
      padding: 8px 0;
      border-radius: 4px;
    }
    ul.list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      list-style-type: none;
      transition: all 0.5s;
      height: 205px;
      overflow: hidden;
      &.to_right {
        transform: translateX(180px);
      }
      .item {
        display: flex;
        flex-direction: column;
        text-align: center;
        text-overflow: ellipsis;
        margin-left: 10px;
        max-width: 150px;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transform: all 1s;
        a {
          display: flex;
          flex-direction: column;
          .infoOver {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 155px;
            border-radius: 5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            background: rgba(28, 26, 21, 0.85);
            padding: 35px 0 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease;
            .avatar {
              transform: translateY(5px);
              transition: all 0.4s ease;
              img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
              }
            }
            .infoInner {
              color: #fff;
              transform: translateY(-5px);
              transition: all 0.4s ease;
              p {
                display: flex;
                flex-direction: column;
                font-size: 12px;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.6);
                span {
                  color: #ffffff;
                  font-size: 11px;
                  text-transform: none;
                }
              }
            }
          }
        }
        &:hover {
          a {
            .infoOver {
              opacity: 1;
              visibility: visible;
              .avatar {
                transform: translateY(-5px);
                transition: all 0.4s ease;
              }
              .infoInner {
                transform: translateY(5px);
                transition: all 0.4s ease;
              }
            }
          }
        }
        &:first-child {
          margin-left: 0;
        }
        &.showElem {
          animation: mainWidth;
          animation-duration: 1s;
        }
        &.hideElem {
          animation-duration: 1s;
          transition: all 1s;
          max-width: 0;
          margin: 0;
        }
        img {
          max-width: 100%;
          width: 150px;
          height: 155px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        .fullname {
          background: rgba(0, 0, 0, 0.32);
          font-size: 12px;
          color: #fff;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          padding: 6px;
          box-shadow: inset 0px 0px 13px 0px hsl(216, 48%, 12%);
        }
        time {
          color: #fff;
          opacity: 0.7;
          padding: 2px;
          font-size: 11px;
          text-align: center;
          white-space: nowrap;
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    .livedrop {
      padding: 5px;
      ul.list {
        .item {
        }
      }
    }
  }
}
.liveUsers {
  background: #fff;
  padding: 15px 0;
  .main-width {
    .itemsHolder {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 8px;
          width: 55px;
          height: 55px;
          border-radius: 100%;
          background: #f5f5f5;
          font-size: 25px;
        }
        .text {
          font-size: 16px;
          color: #454545;
          span {
            font-weight: bold;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .liveUsers {
    .main-width {
      .itemsHolder {
        // flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        .item {
          .icon {
            width: 50px;
            height: 50px;
            font-size: 20px;
          }
          .text {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.helper {
  height: 200px;
  animation: toBig;
  animation-duration: 1s;
  transition: all 1s;
}
.widthDown {
  animation: toDown;
  animation-duration: 1s;
  transition: all 1s;
}

.mainWidth {
  width: 160px;
}
